{% extends 'myapp/index.html' %}       
{% load static %}
{% block content %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Image <small class="text-muted">Welcome to Oreo</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">File Manager</li>
                                                                                        <li class="breadcrumb-item active">Image</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
<div class="file_manager">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#a2017">Society Home Images</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#b2016">Society Members Images</a></li>                        
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#c2015">Society Evants Images</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="a2017">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\s1.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\s2.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\s3.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\s4.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\s5.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>                            
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\s6.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\s7.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="b2016">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                         <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m1.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                         <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> --> 
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m2.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m3.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m4.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m5.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m6.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m7.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\m8.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div> 
                <div class="tab-pane" id="c2015">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                         <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\e1.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                         <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> --> 
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\e2.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\e3.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\e4.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\e5.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card">
                                <div class="file">
                                    <a href="javascript:void(0);">
                                        <!-- <div class="hover">
                                            <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div> -->
                                        <div class="image">
                                            <img src="{% static 'myapp\assets\images\image-gallery\e6.jpg' %}" alt="img" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>

            </div>
        </section>
{% endblock %}               